
/*------------------------------------*\
    #COLOR
\*------------------------------------*/
// 테마, 기본 배경 색
$color-bg: #1E1F25;

// 무채색
$color-white: #fff;
$color-grey01: #E9E9E9;
$color-grey02: #8D8D8D;
$color-grey03: #606060;
$color-black: #121212;

$color-red: #FF0266;

// 버튼
$color-button: #4356FF;
$color-button-active: #C8CDFF;

/*------------------------------------*\
    #TYPOGRAPHY
\*------------------------------------*/

/* 1rem === 16px 기준 */

$font-size-xs: 0.75rem;     // 12px
$font-size-sm: 0.875rem;    // 14px
$font-size-md: 1.125rem;    // 18px
$font-size-lg: 1.5rem;      // 24px
$font-size-xl: 2rem;        // 32px
$font-size-xxl: 3.5rem;     // 56px

$font-size-h1: 2.5rem;      // 40px
$font-size-h2: 2rem;        // 32px

/*------------------------------------*\
    #SIZES
\*------------------------------------*/
// border-radius
$border-radius01: 16px;

// padding

// margin